@{ ViewData["Title"] = $"{@ViewBag.FullName} Home Page"; }

@{ 
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <br />
    <br />
    <br />
    &nbsp;
    <a href="/Employee/HomePage" class="btn btn-primary">To Employees</a>
    <br />
    <br />
    <br />
    <a href="/Department/" class="btn btn-primary">To Deparments</a>
    <br />
    <br />
    <br />
    <a href="/Shift/" class="btn btn-primary">To Shifts</a>
</div>
